@CHARSET "UTF-8";

html{
	height: 100%;
}
body {
	font-family: montserrat, arial, verdana;
}
#frm{
	width: 500px;
	margin: 50px auto;
	text-align: center;
	postion: relative;
}
#frm fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
}
#frm input{
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 20px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
#frm .sub{
	background: #00ccff;
	width: 100%;
	font-weight: bold;
	font-size: 18px;
	color: white;
	border: 0 none;
	border-radius: 3px;
	cursor: pointer;
	padding: 10px 5px;
    margin: 5px 0px;
}
#frm .sub:hover, #frm .sub:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
#frm .header{
    color: #00ccff;
    font-family: montserrat;
    letter-spacing: 8px;
}
#frm a{
	text-decoration: none;
	color: green;
	font-size: 14px;
	margin-left: 32px;
	float: right;
}
#frm a:hover {
	text-decoration: underline;
}
#frm .errorTip{
	color: red;
	font-size: 14px;
	text-align: left;
	font-family: verdana, arial, helvetica, sans-serif;
	width: 100%;
}
#frm .authIn{
	width: 60%;
	float: left;
}
#frm .authCode{
	width: 30%;
	height: 45px;
}